* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Outfit", serif;
  background-color: hsl(212, 45%, 89%);
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensures navbar is at top and footer is at bottom */
  height: 100%; /* Full viewport height */
}

.attribution {
  font-size: 11px;
  position: relative;
  width: 100%;
  border-top: 1px black solid;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.container-wrapper {
  background-color: white; /* White background */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  padding: 10px; /* Optional padding */
  border-radius: 10px; /* Rounded corners */
}

.container-wrapper {
  width: 270px; /* Match the image size */
  border-radius: 10px; /* Rounded corners */
}

.container-wrapper img {
  width: 100%; /* Image fills its container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Match the container's rounded corners */
  display: block; /* Remove inline spacing around the image */
}

.container-text {
  text-align: center; /* Center-align text */
  margin-top: 20px; /* Space between the text and the previous element */
  width: 100%; /* Ensure text matches the image width */
  font-weight: 200;
}

.container-text-header {
  text-align: center; /* Center-align text */
  width: 100%; /* Ensure text matches the image width */
  font-size: 20px;
  font-weight: 700;
}

.container-text-area {
  padding: 18px;
}

.topnav {
  height: 60px;
  background-color: white;
}

.topnav {
  background-color: #333;
  display: flex;
}

.topnav a {
  color: #f2f2f2;
  padding: 16px 16px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
